In [19]:
import pandas as pd

m_tag_score = pd.read_csv("./dataset/ml-25m/genome-scores.csv")
m_tag_list = pd.read_csv("./dataset/ml-25m/genome-tags.csv")
u_m_ratings = pd.read_csv("./dataset/ml-25m/ratings.csv")
m_genre = pd.read_csv("./dataset/ml-25m/movies.csv")

In [35]:
u_id = 4
u_rated_m = u_m_ratings[u_m_ratings["userId"]==u_id]
u_rated_m_sorted = u_rated_m.sort_values(by=['rating'], ascending=[False])
u_good = u_rated_m_sorted.head(10)['movieId'].tolist()
u_bad = u_rated_m_sorted.tail(10)['movieId'].tolist()
u_good

[107406, 139385, 195159, 5618, 8961, 44665, 48780, 174055, 171011, 74458]

In [45]:
u_good_m = m_genre[m_genre['movieId'].isin(u_good)]
u_bad_m = m_genre[m_genre['movieId'].isin(u_bad)]
u_good_m

,movieId,title,genres
5508,5618,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure|Animation|Fantasy
8246,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy
10720,44665,Lucky Number Slevin (2006),Crime|Drama|Mystery
11163,48780,"Prestige, The (2006)",Drama|Mystery|Sci-Fi|Thriller
14336,74458,Shutter Island (2010),Drama|Mystery|Thriller
20779,107406,Snowpiercer (2013),Action|Drama|Sci-Fi
31752,139385,The Revenant (2015),Adventure|Drama
45741,171011,Planet Earth II (2016),Documentary
47219,174055,Dunkirk (2017),Action|Drama|Thriller|War
56890,195159,Spider-Man: Into the Spider-Verse (2018),Action|Adventure|Animation|Sci-Fi

In [46]:
def output_tags(total_list, m_id):
    tag_id = m_tag_score[m_tag_score['movieId'] == m_id].sort_values(by=['relevance'], ascending=[False]).head(5)['tagId'].tolist()
    tag_list = m_tag_list[m_tag_list['tagId'].isin(tag_id)]['tag'].tolist()
    title = m_genre[m_genre['movieId']==m_id]['title'].tolist()
    total_list.append(title+tag_list)
    print(title+tag_list)
    return total_list

total_tag_l = []
for m_id in u_good:
    total_tag_l = output_tags(total_tag_l, m_id)
data = pd.DataFrame(total_tag_l)
data.to_csv("dataset/good.csv")

total_tag_l = []
for m_id in u_bad:
    total_tag_l = output_tags(total_tag_l, m_id)
data = pd.DataFrame(total_tag_l)
data.to_csv("dataset/bad.csv")

['Snowpiercer (2013)', 'allegory', 'distopia', 'dystopia', 'social commentary', 'train']
['The Revenant (2015)', 'cinematography', 'oscar (best cinematography)', 'oscar (best directing)', 'oscar (best supporting actor)', 'visually appealing']
['Spider-Man: Into the Spider-Verse (2018)', 'original', 'storytelling', 'superheroes', 'visually appealing', 'visually stunning']
['Spirited Away (Sen to Chihiro no kamikakushi) (2001)', 'animation', 'fantasy world', 'imagination', 'oscar (best animated feature)', 'weird']
['Incredibles, The (2004)', 'oscar (best animated feature)', 'pixar animation', 'super hero', 'superhero', 'superheroes']
['Lucky Number Slevin (2006)', 'assassin', 'gangster', 'gangsters', 'hit men', 'twists & turns']
['Prestige, The (2006)', 'plot twist', 'stage magic', 'surprise ending', 'twists & turns', 'unusual plot structure']
['Dunkirk (2017)', '70mm', 'best war films', 'cinematography', 'tense', 'war']
['Planet Earth II (2016)', 'masterpiece', 'narrated', 'photography', 'visual', 'visually appealing']
['Shutter Island (2010)', 'mindfuck', 'plot twist', 'psychological', 'psychology', 'twist ending']
['Iron Man 2 (2010)', 'based on a comic', 'robert downey jr', 'super hero', 'superhero', 'superheroes']
['Campaign, The (2012)', 'comedy', 'political', 'politics', 'satire', 'world politics']
['Transformers: Dark of the Moon (2011)', 'action', 'big budget', 'franchise', 'giant robots', 'robots']
['Harry Potter and the Deathly Hallows: Part 2 (2011)', 'emma watson', 'fantasy world', 'franchise', 'harry potter', 'wizards']
['Eragon (2006)', 'based on a book', 'based on book', 'dragons', 'fantasy', 'fantasy world']
['Avengers: Infinity War - Part I (2018)', 'action', 'humor', 'superheroes', 'visually appealing', 'visually stunning']
['Prometheus (2012)', 'alien', 'aliens', 'sci fi', 'sci-fi', 'scifi']
['Last Airbender, The (2010)', 'bad acting', 'based on a tv show', 'fantasy', 'horrible', 'series']
['Percy Jackson & the Olympians: The Lightning Thief (2010)', 'adapted from:book', 'based on a book', 'based on book', 'fantasy world', 'mythology']
['Cowboys & Aliens (2011)', 'action', 'alien', 'alien invasion', 'aliens', 'sci-fi']

In [40]:
from collections import Counter
counter = Counter(total_tag_l)
tag_dict = dict(counter)

res = counter.most_common(20)

['allegory', 'distopia', 'dystopia', 'social commentary', 'train']
['cinematography', 'oscar (best cinematography)', 'oscar (best directing)', 'oscar (best supporting actor)', 'visually appealing']
['original', 'storytelling', 'superheroes', 'visually appealing', 'visually stunning']
['animation', 'fantasy world', 'imagination', 'oscar (best animated feature)', 'weird']
['oscar (best animated feature)', 'pixar animation', 'super hero', 'superhero', 'superheroes']
['assassin', 'gangster', 'gangsters', 'hit men', 'twists & turns']
['plot twist', 'stage magic', 'surprise ending', 'twists & turns', 'unusual plot structure']
['70mm', 'best war films', 'cinematography', 'tense', 'war']
['masterpiece', 'narrated', 'photography', 'visual', 'visually appealing']
['mindfuck', 'plot twist', 'psychological', 'psychology', 'twist ending']

In [31]:
u_movie1 = u_movie_tag[u_movie_tag['movieId']==1]
u_sort = u_movie1.sort_values(by=['relevance'],ascending=[False])
tag_list = u_sort.head(10)['tagId'].tolist()
for x in tag_list:
    print(u_tag.loc[x-1]['tag'])

toys
computer animation
pixar animation
kids and family
animation
kids
pixar
children
cartoon
animated

In [25]:
u_re = u_movie1[u_movie1['relevance']>0.6]
u_re

      movieId  tagId  relevance
18          1     19    0.66250
28          1     29    0.89375
29          1     30    0.67625
60          1     61    0.61750
61          1     62    0.63000
...       ...    ...        ...
1035        1   1036    0.99925
1061        1   1062    0.89625
1071        1   1072    0.72425
1091        1   1092    0.67325
1113        1   1114    0.69400

[63 rows x 3 columns]

In [24]:
u_tag.loc[10]['tag']

'3d'

In [23]:
u_tag

      tagId           tag
0         1           007
1         2  007 (series)
2         3  18th century
3         4         1920s
4         5         1930s
...     ...           ...
1123   1124       writing
1124   1125         wuxia
1125   1126          wwii
1126   1127        zombie
1127   1128       zombies

[1128 rows x 2 columns]

In [33]:
def movie_tag_search(movieId):
    u_m = u_movie_tag[u_movie_tag['movieId']==movieId]
    u_sort = u_m.sort_values(by=['relevance'],ascending=[False])
    tag_list = u_sort.head(10)['tagId'].tolist()
    for tag_ in tag_list:
        print(u_tag.loc[tag_-1]['tag'])

movie_tag_search(2)

adventure
children
fantasy
kids
special effects
jungle
fantasy world
fun movie
childhood
animals