In [1]:
import pandas as pd

u_data = pd.read_csv("./dataset/ml-1m/ratings.dat", delimiter='::', header=None, engine='python', encoding='ISO-8859-1')
u_movie = pd.read_csv("./dataset/ml-1m/movies.dat", delimiter='::', header=None, engine='python', encoding='ISO-8859-1')
u_user = pd.read_csv("./dataset/ml-1m/users.dat", delimiter='::', header=None, engine='python', encoding='ISO-8859-1')

# u_occupation = pd.read_csv("./dataset/ml-100k/u.occupation", delimiter='|', header=None)
# u_user = pd.read_csv("./dataset/ml-100k/u.user", delimiter='|', header=None)
# u_item = pd.read_csv("./dataset/ml-100k/u.item", delimiter='|', header=None, encoding = "ISO-8859-1")

In [2]:
u_movie

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [6]:
u_frame = u_movie[[1,2]]

In [7]:
import json
all_movie = {}
for index, row in u_frame.iterrows():
    movie = row.tolist()
    key = f'{movie[0]}'
    item = f'{movie[0]}, Genre: {movie[1]}'
    all_movie[key] = item

with open(f"user_study/movieLensTitles.json", "w", encoding='utf-8') as fj:
    json.dump(all_movie, fj)

In [2]:
u_data

            0     1  2          3
0           1  1193  5  978300760
1           1   661  3  978302109
2           1   914  3  978301968
3           1  3408  4  978300275
4           1  2355  5  978824291
...       ...   ... ..        ...
1000204  6040  1091  1  956716541
1000205  6040  1094  5  956704887
1000206  6040   562  5  956704746
1000207  6040  1096  4  956715648
1000208  6040  1097  4  956715569

[1000209 rows x 4 columns]

In [15]:
df_user = u_data[u_data[0] == 1].sort_values(3)
df_user

    0     1  2          3
31  1  3186  4  978300019
27  1  1721  4  978300055
37  1  1022  5  978300055
22  1  1270  5  978300055
24  1  2340  3  978300103
36  1  1836  5  978300172
3   1  3408  4  978300275
47  1  1207  4  978300719
7   1  2804  5  978300719
21  1   720  3  978300760
0   1  1193  5  978300760
44  1   260  4  978300760
9   1   919  4  978301368
51  1   608  4  978301398
43  1  2692  4  978301570
41  1  1961  5  978301590
48  1  2028  5  978301619
18  1  3105  5  978301713
11  1   938  4  978301752
42  1  1962  4  978301753
14  1  1035  5  978301753
39  1   150  5  978301777
17  1  2018  4  978301777
45  1  1028  5  978301777
26  1  1097  4  978301953
2   1   914  3  978301968
19  1  2797  4  978302039
6   1  1287  5  978302039
38  1  2762  4  978302091
52  1  1246  4  978302091
1   1   661  3  978302109
13  1  2918  4  978302124
49  1   531  4  978302149
50  1  3114  4  978302174
15  1  2791  4  978302188
46  1  1029  5  978302205
20  1  2321  3  978302205
5   1  1197  3  978302268
8   1   594  4  978302268
12  1  2398  4  978302281
28  1  1545  4  978824139
23  1   527  5  978824195
40  1     1  5  978824268
33  1   588  4  978824268
16  1  2687  3  978824268
29  1   745  3  978824268
10  1   595  5  978824268
30  1  2294  4  978824291
35  1   783  4  978824291
4   1  2355  5  978824291
34  1  1907  4  978824330
32  1  1566  4  978824330
25  1    48  5  978824351

In [12]:
tmp_dataset = u_data[u_data[2] >= 4][[0,1]].values.tolist()
result = {}
for user, item in tmp_dataset:
    if user in result.keys():
        result[user].append(item)
    else:
        result[user] = [item]

In [18]:
len_data = []
for user in result.keys():
    len_data.append(len(result[user]))
len_data.sort()
len_data.index(21)

954

In [19]:
6038-954

5084

In [19]:
u_movie[u_movie[0] == 720]

       0                                                  1          2
711  720  Wallace & Gromit: The Best of Aardman Animatio...  Animation

In [2]:
u_movie

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [3]:
import json

id2item = {}
item2id = {}

for index, row in u_movie.iterrows():
    info = row.tolist()
    title = f"{info[1]}"
    
    id2item[str(index)] = title
    item2id[title] = index

with open('training_data/datamaps.json', 'w', encoding='utf-8') as f:
    json.dump({"id2item_dict": id2item, "item2id_dict": item2id}, f)

In [5]:
import json
output_list = u_movie[1].tolist()
with open('mo')

['Toy Story (1995)',
 'Jumanji (1995)',
 'Grumpier Old Men (1995)',
 'Waiting to Exhale (1995)',
 'Father of the Bride Part II (1995)',
 'Heat (1995)',
 'Sabrina (1995)',
 'Tom and Huck (1995)',
 'Sudden Death (1995)',
 'GoldenEye (1995)',
 'American President, The (1995)',
 'Dracula: Dead and Loving It (1995)',
 'Balto (1995)',
 'Nixon (1995)',
 'Cutthroat Island (1995)',
 'Casino (1995)',
 'Sense and Sensibility (1995)',
 'Four Rooms (1995)',
 'Ace Ventura: When Nature Calls (1995)',
 'Money Train (1995)',
 'Get Shorty (1995)',
 'Copycat (1995)',
 'Assassins (1995)',
 'Powder (1995)',
 'Leaving Las Vegas (1995)',
 'Othello (1995)',
 'Now and Then (1995)',
 'Persuasion (1995)',
 'City of Lost Children, The (1995)',
 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',
 'Dangerous Minds (1995)',
 'Twelve Monkeys (1995)',
 'Wings of Courage (1995)',
 'Babe (1995)',
 'Carrington (1995)',
 'Dead Man Walking (1995)',
 'Across the Sea of Time (1995)',
 'It Takes Two (1995)',
 'Clueless (1995)',
 'Cry, the Beloved Country (1995)',
 'Richard III (1995)',
 'Dead Presidents (1995)',
 'Restoration (1995)',
 'Mortal Kombat (1995)',
 'To Die For (1995)',
 'How to Make an American Quilt (1995)',
 'Seven (Se7en) (1995)',
 'Pocahontas (1995)',
 'When Night Is Falling (1995)',
 'Usual Suspects, The (1995)',
 'Guardian Angel (1994)',
 'Mighty Aphrodite (1995)',
 'Lamerica (1994)',
 'Big Green, The (1995)',
 'Georgia (1995)',
 'Kids of the Round Table (1995)',
 'Home for the Holidays (1995)',
 'Postino, Il (The Postman) (1994)',
 'Confessional, The (Le Confessionnal) (1995)',
 'Indian in the Cupboard, The (1995)',
 'Eye for an Eye (1996)',
 "Mr. Holland's Opus (1995)",
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
 'Two if by Sea (1996)',
 'Bio-Dome (1996)',
 'Lawnmower Man 2: Beyond Cyberspace (1996)',
 'Two Bits (1995)',
 'French Twist (Gazon maudit) (1995)',
 'Friday (1995)',
 'From Dusk Till Dawn (1996)',
 'Fair Game (1995)',
 'Kicking and Screaming (1995)',
 'Misérables, Les (1995)',
 'Bed of Roses (1996)',
 'Big Bully (1996)',
 'Screamers (1995)',
 'Nico Icon (1995)',
 'Crossing Guard, The (1995)',
 'Juror, The (1996)',
 'White Balloon, The (Badkonake Sefid ) (1995)',
 "Things to Do in Denver when You're Dead (1995)",
 "Antonia's Line (Antonia) (1995)",
 'Once Upon a Time... When We Were Colored (1995)',
 'Last Summer in the Hamptons (1995)',
 'Angels and Insects (1995)',
 'White Squall (1996)',
 'Dunston Checks In (1996)',
 'Black Sheep (1996)',
 'Nick of Time (1995)',
 'Journey of August King, The (1995)',
 'Mary Reilly (1996)',
 'Vampire in Brooklyn (1995)',
 'Beautiful Girls (1996)',
 'Broken Arrow (1996)',
 'In the Bleak Midwinter (1995)',
 'Hate (Haine, La) (1995)',
 'Shopping (1994)',
 'Heidi Fleiss: Hollywood Madam (1995)',
 'City Hall (1996)',
 'Bottle Rocket (1996)',
 'Mr. Wrong (1996)',
 'Unforgettable (1996)',
 'Happy Gilmore (1996)',
 'Bridges of Madison County, The (1995)',
 'Nobody Loves Me (Keiner liebt mich) (1994)',
 'Muppet Treasure Island (1996)',
 'Catwalk (1995)',
 'Headless Body in Topless Bar (1995)',
 'Braveheart (1995)',
 'Taxi Driver (1976)',
 'Rumble in the Bronx (1995)',
 'Before and After (1996)',
 "Margaret's Museum (1995)",
 'Happiness Is in the Field (1995)',
 'Anne Frank Remembered (1995)',
 "Young Poisoner's Handbook, The (1995)",
 'If Lucy Fell (1996)',
 'Steal Big, Steal Little (1995)',
 'Race the Sun (1996)',
 'Boys of St. Vincent, The (1993)',
 'Boomerang (1992)',
 'Chungking Express (1994)',
 "Star Maker, The (Uomo delle stelle, L') (1995)",
 'Flirting With Disaster (1996)',
 'NeverEnding Story III, The (1994)',
 'Silence of the Palace, The (Saimt el Qusur) (1994)',
 "Jupiter's Wife (1994)",
 'Pie in the Sky (1995)',
 'Angela (1995)',
 'Frankie Starlight (1995)',
 'Jade (1995)',
 'Nueba Yol (1995)',
 'Sonic Outlaws (1995)',
 'Down Periscope (1996)',
 'From the Journals of Jean Seberg (1995)',
 'Man of the Year (1995)',
 'Neon Bible, The (1995)',
 'Target (1995)',
 'Up Close and Personal (1996)',
 'Birdcage, The (1996)',
 'Shadows (Cienie) (1988)',
 'Gospa (1995)',
 'Brothers McMullen, The (1995)',
 'Bad Boys (1995)',
 'Amazing Panda Adventure, The (1995)',
 'Basketball Diaries, The (1995)',
 'Awfully Big Adventure, An (1995)',
 'Amateur (1994)',
 'Apollo 13 (1995)',
 'Rob Roy (1995)',
 'Addiction, The (1995)',
 'Batman Forever (1995)',
 'Belle de jour (1967)',
 'Beyond Rangoon (1995)',
 'Blue in the Face (1995)',
 'Canadian Bacon (1994)',
 'Casper (1995)',
 'Clockers (1995)',
 'Congo (1995)',
 'Crimson Tide (1995)',
 'Crumb (1994)',
 'Desperado (1995)',
 'Devil in a Blue Dress (1995)',
 'Die Hard: With a Vengeance (1995)',
 'Doom Generation, The (1995)',
 'Feast of July (1995)',
 'First Knight (1995)',
 'Free Willy 2: The Adventure Home (1995)',
 'Hackers (1995)',
 'Jeffrey (1995)',
 'Johnny Mnemonic (1995)',
 'Judge Dredd (1995)',
 'Jury Duty (1995)',
 'Kids (1995)',
 'Living in Oblivion (1995)',
 'Lord of Illusions (1995)',
 'Love & Human Remains (1993)',
 'Mad Love (1995)',
 'Mallrats (1995)',
 'Mighty Morphin Power Rangers: The Movie (1995)',
 'Moonlight and Valentino (1995)',
 'Mute Witness (1994)',
 'Nadja (1994)',
 'Net, The (1995)',
 'Nine Months (1995)',
 'Party Girl (1995)',
 'Prophecy, The (1995)',
 'Reckless (1995)',
 'Safe (1995)',
 'Scarlet Letter, The (1995)',
 'Show, The (1995)',
 'Showgirls (1995)',
 'Smoke (1995)',
 'Something to Talk About (1995)',
 'Species (1995)',
 'Stars Fell on Henrietta, The (1995)',
 'Strange Days (1995)',
 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)',
 'Tie That Binds, The (1995)',
 'Three Wishes (1995)',
 'Total Eclipse (1995)',
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
 'Under Siege 2: Dark Territory (1995)',
 'Unstrung Heroes (1995)',
 'Unzipped (1995)',
 'Walk in the Clouds, A (1995)',
 'Waterworld (1995)',
 "White Man's Burden (1995)",
 'Wild Bill (1995)',
 'Browning Version, The (1994)',
 'Bushwhacked (1995)',
 'Burnt By the Sun (Utomlyonnye solntsem) (1994)',
 'Before the Rain (Pred dozhdot) (1994)',
 'Before Sunrise (1995)',
 'Billy Madison (1995)',
 'Babysitter, The (1995)',
 'Boys on the Side (1995)',
 'Cure, The (1995)',
 'Castle Freak (1995)',
 'Circle of Friends (1995)',
 'Clerks (1994)',
 'Don Juan DeMarco (1995)',
 'Disclosure (1994)',
 'Dream Man (1995)',
 'Drop Zone (1994)',
 'Destiny Turns on the Radio (1995)',
 'Death and the Maiden (1994)',
 'Dolores Claiborne (1994)',
 'Dumb & Dumber (1994)',
 'Eat Drink Man Woman (1994)',
 'Exotica (1994)',
 'Exit to Eden (1994)',
 'Ed Wood (1994)',
 'French Kiss (1995)',
 'Forget Paris (1995)',
 'Far From Home: The Adventures of Yellow Dog (1995)',
 'Goofy Movie, A (1995)',
 'Hideaway (1995)',
 'Fluke (1995)',
 'Farinelli: il castrato (1994)',
 'Gordy (1995)',
 'Gumby: The Movie (1995)',
 'Glass Shield, The (1994)',
 'Hoop Dreams (1994)',
 'Heavenly Creatures (1994)',
 'Houseguest (1994)',
 'Immortal Beloved (1994)',
 'Heavyweights (1994)',
 'Hunted, The (1995)',
 'I.Q. (1994)',
 'Interview with the Vampire (1994)',
 'Jefferson in Paris (1995)',
 'Jerky Boys, The (1994)',
 'Junior (1994)',
 'Just Cause (1995)',
 "Kid in King Arthur's Court, A (1995)",
 'Kiss of Death (1995)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Little Women (1994)',
 'Little Princess, A (1995)',
 'Ladybird Ladybird (1994)',
 "Enfer, L' (1994)",
 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 'Legends of the Fall (1994)',
 'Major Payne (1994)',
 'Little Odessa (1994)',
 'My Crazy Life (Mi vida loca) (1993)',
 'Love Affair (1994)',
 'Losing Isaiah (1995)',
 'Madness of King George, The (1994)',
 "Mary Shelley's Frankenstein (1994)",
 'Man of the House (1995)',
 'Mixed Nuts (1994)',
 'Milk Money (1994)',
 'Miracle on 34th Street (1994)',
 'Miami Rhapsody (1995)',
 'My Family (1995)',
 'Murder in the First (1995)',
 "Nobody's Fool (1994)",
 'Nell (1994)',
 'New Jersey Drive (1995)',
 'New York Cop (1996)',
 'Beyond Bedlam (1993)',
 'Nemesis 2: Nebula (1995)',
 'Nina Takes a Lover (1994)',
 'Natural Born Killers (1994)',
 'Only You (1994)',
 'Once Were Warriors (1994)',
 'Poison Ivy II (1995)',
 'Outbreak (1995)',
 'Professional, The (a.k.a. Leon: The Professional) (1994)',
 'Perez Family, The (1995)',
 "Pyromaniac's Love Story, A (1995)",
 'Pulp Fiction (1994)',
 'Panther (1995)',
 'Pushing Hands (1992)',
 'Priest (1994)',
 'Quiz Show (1994)',
 'Picture Bride (1995)',
 'Queen Margot (La Reine Margot) (1994)',
 'Quick and the Dead, The (1995)',
 'Roommates (1995)',
 'Ready to Wear (Pret-A-Porter) (1994)',
 'Three Colors: Red (1994)',
 'Three Colors: Blue (1993)',
 'Three Colors: White (1994)',
 'Red Firecracker, Green Firecracker (1994)',
 'Rent-a-Kid (1995)',
 'Relative Fear (1994)',
 'Stuart Saves His Family (1995)',
 'Swan Princess, The (1994)',
 'Secret of Roan Inish, The (1994)',
 'Specialist, The (1994)',
 'Stargate (1994)',
 'Santa Clause, The (1994)',
 'Shawshank Redemption, The (1994)',
 'Shallow Grave (1994)',
 'Suture (1993)',
 'Strawberry and Chocolate (Fresa y chocolate) (1993)',
 'Swimming with Sharks (1995)',
 'Sum of Us, The (1994)',
 "National Lampoon's Senior Trip (1995)",
 'To Live (Huozhe) (1994)',
 'Tank Girl (1995)',
 'Tales From the Crypt Presents: Demon Knight (1995)',
 'Star Trek: Generations (1994)',
 'Tales from the Hood (1995)',
 'Tom & Viv (1994)',
 'Village of the Damned (1995)',
 'Tommy Boy (1995)',
 'Vanya on 42nd Street (1994)',
 'Underneath, The (1995)',
 'Walking Dead, The (1995)',
 "What's Eating Gilbert Grape (1993)",
 'Virtuosity (1995)',
 'While You Were Sleeping (1995)',
 'War, The (1994)',
 'Double Happiness (1994)',
 "Muriel's Wedding (1994)",
 'Baby-Sitters Club, The (1995)',
 'Ace Ventura: Pet Detective (1994)',
 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 'Backbeat (1993)',
 'Bitter Moon (1992)',
 'Bullets Over Broadway (1994)',
 'Clear and Present Danger (1994)',
 'Client, The (1994)',
 'Corrina, Corrina (1994)',
 'Crooklyn (1994)',
 'Crow, The (1994)',
 'Cobb (1994)',
 'Flintstones, The (1994)',
 'Forrest Gump (1994)',
 'Four Weddings and a Funeral (1994)',
 'Higher Learning (1995)',
 'I Like It Like That (1994)',
 'I Love Trouble (1994)',
 'It Could Happen to You (1994)',
 'Jungle Book, The (1994)',
 'Wonderful, Horrible Life of Leni Riefenstahl, The (Die Macht der Bilder) (1993)',
 'Lion King, The (1994)',
 'Little Buddha (1993)',
 "Wes Craven's New Nightmare (1994)",
 'Mask, The (1994)',
 'Maverick (1994)',
 'Mrs. Parker and the Vicious Circle (1994)',
 'Naked Gun 33 1/3: The Final Insult (1994)',
 'Paper, The (1994)',
 'Reality Bites (1994)',
 'Red Rock West (1992)',
 'Richie Rich (1994)',
 'Safe Passage (1994)',
 'River Wild, The (1994)',
 'Speed (1994)',
 'Speechless (1994)',
 'Timecop (1994)',
 'True Lies (1994)',
 'When a Man Loves a Woman (1994)',
 'Wolf (1994)',
 'Wyatt Earp (1994)',
 'Bad Company (1995)',
 'Man of No Importance, A (1994)',
 'S.F.W. (1994)',
 'Low Down Dirty Shame, A (1994)',
 'Boys Life (1995)',
 'Colonel Chabert, Le (1994)',
 'Faster Pussycat! Kill! Kill! (1965)',
 "Jason's Lyric (1994)",
 'Secret Adventures of Tom Thumb, The (1993)',
 'Street Fighter (1994)',
 'Coldblooded (1995)',
 'Desert Winds (1995)',
 'Fall Time (1995)',
 'Fear, The (1995)',
 'Frank and Ollie (1995)',
 'Girl in the Cadillac (1995)',
 'Homage (1995)',
 'Mirage (1995)',
 'Open Season (1996)',
 'Two Crimes (1995)',
 'Brother Minister: The Assassination of Malcolm X (1994)',
 'Highlander III: The Sorcerer (1994)',
 'Federal Hill (1994)',
 'In the Mouth of Madness (1995)',
 '8 Seconds (1994)',
 'Above the Rim (1994)',
 'Addams Family Values (1993)',
 'You So Crazy (1994)',
 'Age of Innocence, The (1993)',
 'Airheads (1994)',
 'Air Up There, The (1994)',
 'Another Stakeout (1993)',
 'Bad Girls (1994)',
 'Barcelona (1994)',
 'Being Human (1993)',
 'Beverly Hillbillies, The (1993)',
 'Beverly Hills Cop III (1994)',
 'Black Beauty (1994)',
 'Blink (1994)',
 'Blown Away (1994)',
 'Blue Chips (1994)',
 'Blue Sky (1994)',
 'Body Snatchers (1993)',
 'Boxing Helena (1993)',
 'Bronx Tale, A (1993)',
 'Cabin Boy (1994)',
 'Calendar Girl (1993)',
 "Carlito's Way (1993)",
 "City Slickers II: The Legend of Curly's Gold (1994)",
 'Clean Slate (1994)',
 'Cliffhanger (1993)',
 'Coneheads (1993)',
 'Color of Night (1994)',
 'Cops and Robbersons (1994)',
 'Cowboy Way, The (1994)',
 'Dangerous Game (1993)',
 'Dave (1993)',
 'Dazed and Confused (1993)',
 'Demolition Man (1993)',
 'Endless Summer 2, The (1994)',
 'Even Cowgirls Get the Blues (1993)',
 'Fatal Instinct (1993)',
 'Farewell My Concubine (1993)',
 'Favor, The (1994)',
 'Fearless (1993)',
 'Fear of a Black Hat (1993)',
 'With Honors (1994)',
 'Flesh and Bone (1993)',
 "Widows' Peak (1994)",
 'For Love or Money (1993)',
 'Firm, The (1993)',
 'Free Willy (1993)',
 'Fresh (1994)',
 'Fugitive, The (1993)',
 'Geronimo: An American Legend (1993)',
 'Getaway, The (1994)',
 'Getting Even with Dad (1994)',
 'Go Fish (1994)',
 'Good Man in Africa, A (1994)',
 'Guilty as Sin (1993)',
 'Hard Target (1993)',
 'Heaven & Earth (1993)',
 'Hot Shots! Part Deux (1993)',
 'Live Nude Girls (1995)',
 'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)',
 'House of the Spirits, The (1993)',
 'House Party 3 (1994)',
 'Hudsucker Proxy, The (1994)',
 "I'll Do Anything (1994)",
 'In the Army Now (1994)',
 'In the Line of Fire (1993)',
 'In the Name of the Father (1993)',
 'Inkwell, The (1994)',
 "What's Love Got to Do with It? (1993)",
 'Jimmy Hollywood (1994)',
 'Judgment Night (1993)',
 'Jurassic Park (1993)',
 'Kalifornia (1993)',
 'Killing Zoe (1994)',
 'King of the Hill (1993)',
 'Lassie (1994)',
 'Last Action Hero (1993)',
 'Life with Mikey (1993)',
 'Lightning Jack (1994)',
 'M. Butterfly (1993)',
 'Made in America (1993)',
 'Malice (1993)',
 'Man Without a Face, The (1993)',
 'Manhattan Murder Mystery (1993)',
 'Menace II Society (1993)',
 'Executive Decision (1996)',
 'In the Realm of the Senses (Ai no corrida) (1976)',
 'What Happened Was... (1994)',
 'Much Ado About Nothing (1993)',
 'Mr. Jones (1993)',
 'Mr. Wonderful (1993)',
 'Mrs. Doubtfire (1993)',
 'Naked (1993)',
 'Next Karate Kid, The (1994)',
 'New Age, The (1994)',
 'No Escape (1994)',
 'North (1994)',
 'Orlando (1993)',
 'Perfect World, A (1993)',
 'Philadelphia (1993)',
 'Piano, The (1993)',
 'Poetic Justice (1993)',
 'Program, The (1993)',
 "Robert A. Heinlein's The Puppet Masters (1994)",
 'Radioland Murders (1994)',
 'Ref, The (1994)',
 'Remains of the Day, The (1993)',
 'Renaissance Man (1994)',
 'Rising Sun (1993)',
 'Road to Wellville, The (1994)',
 'Robocop 3 (1993)',
 'Robin Hood: Men in Tights (1993)',
 'Romeo Is Bleeding (1993)',
 'Romper Stomper (1992)',
 'Ruby in Paradise (1993)',
 'Rudy (1993)',
 'Saint of Fort Washington, The (1993)',
 'Savage Nights (Nuits fauves, Les) (1992)',
 "Schindler's List (1993)",
 'Scout, The (1994)',
 'Searching for Bobby Fischer (1993)',
 'Second Best (1994)',
 'Secret Garden, The (1993)',
 'Serial Mom (1994)',
 'Shadow, The (1994)',
 'Shadowlands (1993)',
 'Short Cuts (1993)',
 'Simple Twist of Fate, A (1994)',
 'Sirens (1994)',
 'Six Degrees of Separation (1993)',
 'Sleepless in Seattle (1993)',
 'Sliver (1993)',
 'Blade Runner (1982)',
 'Son in Law (1993)',
 'So I Married an Axe Murderer (1993)',
 'Striking Distance (1993)',
 'Harlem (1993)',
 'Super Mario Bros. (1993)',
 'Surviving the Game (1994)',
 'Terminal Velocity (1994)',
 'Thirty-Two Short Films About Glenn Gould (1993)',
 'Threesome (1994)',
 'Nightmare Before Christmas, The (1993)',
 'Three Musketeers, The (1993)',
 'Tombstone (1993)',
 'Trial by Jury (1994)',
 'True Romance (1993)',
 'War Room, The (1993)',
 'Mamma Roma (1962)',
 'Pagemaster, The (1994)',
 'Paris, France (1993)',
 'Beans of Egypt, Maine, The (1994)',
 'Killer (Bulletproof Heart) (1994)',
 'Welcome to the Dollhouse (1995)',
 'Germinal (1993)',
 'Chasers (1994)',
 'Cronos (1992)',
 'Naked in New York (1994)',
 'Kika (1993)',
 'Bhaji on the Beach (1993)',
 'Little Big League (1994)',
 'Slingshot, The (Kådisbellan ) (1993)',
 'Wedding Gift, The (1994)',
 'Foreign Student (1994)',
 'Ciao, Professore! (Io speriamo che me la cavo ) (1993)',
 'Spanking the Monkey (1994)',
 'Little Rascals, The (1994)',
 'Fausto (1993)',
 'Andre (1994)',
 'Hour of the Pig, The (1993)',
 'Scorta, La (1993)',
 'Princess Caraboo (1994)',
 'Celluloid Closet, The (1995)',
 'Metisse (Café au Lait) (1993)',
 'Dear Diary (Caro Diario) (1994)',
 "I Don't Want to Talk About It (De eso no se habla) (1993)",
 'Brady Bunch Movie, The (1995)',
 'Home Alone (1990)',
 'Ghost (1990)',
 'Aladdin (1992)',
 'Terminator 2: Judgment Day (1991)',
 'Dances with Wolves (1990)',
 'Tough and Deadly (1995)',
 'Batman (1989)',
 'Silence of the Lambs, The (1991)',
 'Snow White and the Seven Dwarfs (1937)',
 'Beauty and the Beast (1991)',
 'Pinocchio (1940)',
 'Pretty Woman (1990)',
 'Window to Paris (1994)',
 'Wild Bunch, The (1969)',
 'Love and a .45 (1994)',
 "Wooden Man's Bride, The (Wu Kui) (1994)",
 'Great Day in Harlem, A (1994)',
 'Bye Bye, Love (1995)',
 'Criminals (1996)',
 'One Fine Day (1996)',
 'Candyman: Farewell to the Flesh (1995)',
 'Century (1993)',
 'Fargo (1996)',
 'Homeward Bound II: Lost in San Francisco (1996)',
 'Heavy Metal (1981)',
 'Hellraiser: Bloodline (1996)',
 'Pallbearer, The (1996)',
 'Jane Eyre (1996)',
 'Loaded (1994)',
 'Bread and Chocolate (Pane e cioccolata) (1973)',
 'Aristocats, The (1970)',
 'Flower of My Secret, The (La Flor de Mi Secreto) (1995)',
 'Two Much (1996)',
 'Ed (1996)',
 'Scream of Stone (Schrei aus Stein) (1991)',
 'My Favorite Season (1993)',
 'Modern Affair, A (1995)',
 'Condition Red (1995)',
 'Asfour Stah (1990)',
 'Thin Line Between Love and Hate, A (1996)',
 'Last Supper, The (1995)',
 'Primal Fear (1996)',
 'Rude (1995)',
 'Carried Away (1996)',
 'All Dogs Go to Heaven 2 (1996)',
 'Land and Freedom (Tierra y libertad) (1995)',
 'Denise Calls Up (1995)',
 'Theodore Rex (1995)',
 'Family Thing, A (1996)',
 'Frisk (1995)',
 'Sgt. Bilko (1996)',
 'Jack and Sarah (1995)',
 'Girl 6 (1996)',
 'Diabolique (1996)',
 'Little Indian, Big City (Un indien dans la ville) (1994)',
 'Roula (1995)',
 'Peanuts - Die Bank zahlt alles (1996)',
 'Happy Weekend (1996)',
 'Nelly & Monsieur Arnaud (1995)',
 'Courage Under Fire (1996)',
 'Mission: Impossible (1996)',
 'Cold Fever (Á köldum klaka) (1994)',
 'Moll Flanders (1996)',
 'Superweib, Das (1996)',
 '301, 302 (1995)',
 'Dragonheart (1996)',
 'Und keiner weint mir nach (1996)',
 'Mutters Courage (1995)',
 'Eddie (1996)',
 'Yankee Zulu (1994)',
 "Billy's Holiday (1995)",
 'Purple Noon (1960)',
 'August (1996)',
 'James and the Giant Peach (1996)',
 'Fear (1996)',
 'Kids in the Hall: Brain Candy (1996)',
 'Faithful (1996)',
 'Underground (1995)',
 'All Things Fair (1996)',
 'Bloodsport 2 (1995)',
 'Pather Panchali (1955)',
 'Aparajito (1956)',
 'World of Apu, The (Apur Sansar) (1959)',
 'Mystery Science Theater 3000: The Movie (1996)',
 'Tarantella (1995)',
 'Space Jam (1996)',
 'Barbarella (1968)',
 'Hostile Intentions (1994)',
 'They Bite (1996)',
 'Some Folks Call It a Sling Blade (1993)',
 'Run of the Country, The (1995)',
 'Alphaville (1965)',
 'Clean Slate (Coup de Torchon) (1981)',
 'Tigrero: A Film That Was Never Made (1994)',
 "Eye of Vichy, The (Oeil de Vichy, L') (1993)",
 'Windows (1980)',
 "It's My Party (1995)",
 'Country Life (1994)',
 'Operation Dumbo Drop (1995)',
 'Promise, The (Versprechen, Das) (1994)',
 'Mrs. Winterbourne (1996)',
 'Solo (1996)',
 'Under the Domin Tree (Etz Hadomim Tafus) (1994)',
 'Substitute, The (1996)',
 'True Crime (1995)',
 'Butterfly Kiss (1995)',
 'Feeling Minnesota (1996)',
 'Delta of Venus (1994)',
 'To Cross the Rubicon (1991)',
 'Angus (1995)',
 'Daens (1992)',
 'Faces (1968)',
 'Boys (1996)',
 'Quest, The (1996)',
 'Cosi (1996)',
 'Sunset Park (1996)',
 'Mulholland Falls (1996)',
 'Truth About Cats & Dogs, The (1996)',
 'Oliver & Company (1988)',
 'Celtic Pride (1996)',
 'Flipper (1996)',

In [15]:
u_data[(u_data[2] >= 4) & (u_data[0] == 1)].sort_values(3)

    0     1  2          3
31  1  3186  4  978300019
27  1  1721  4  978300055
22  1  1270  5  978300055
37  1  1022  5  978300055
36  1  1836  5  978300172
3   1  3408  4  978300275
7   1  2804  5  978300719
47  1  1207  4  978300719
44  1   260  4  978300760
0   1  1193  5  978300760
9   1   919  4  978301368
51  1   608  4  978301398
43  1  2692  4  978301570
41  1  1961  5  978301590
48  1  2028  5  978301619
18  1  3105  5  978301713
11  1   938  4  978301752
14  1  1035  5  978301753
42  1  1962  4  978301753
45  1  1028  5  978301777
17  1  2018  4  978301777
39  1   150  5  978301777
26  1  1097  4  978301953
19  1  2797  4  978302039
6   1  1287  5  978302039
38  1  2762  4  978302091
52  1  1246  4  978302091
13  1  2918  4  978302124
49  1   531  4  978302149
50  1  3114  4  978302174
15  1  2791  4  978302188
46  1  1029  5  978302205
8   1   594  4  978302268
12  1  2398  4  978302281
28  1  1545  4  978824139
23  1   527  5  978824195
33  1   588  4  978824268
40  1     1  5  978824268
10  1   595  5  978824268
4   1  2355  5  978824291
35  1   783  4  978824291
30  1  2294  4  978824291
32  1  1566  4  978824330
34  1  1907  4  978824330
25  1    48  5  978824351

In [39]:
# output movie titles
import json

movie_name = u_movie[[0,1]].values.tolist()
with open("movie_name.json", "w") as movie_file:
    movie_file.write(json.dumps(movie_name))

In [4]:
u_user

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
...    ... ..  ..  ..    ...
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]

In [20]:
# Work1 dataset output

import random
import json
# generate prompt

SUF = ['','_CoT','_ToT']
_suf = SUF[1]

'''
You are a recommended system. Given the user profile and the historical data, analyse the user's interests. Your task is to add no less than five movies between the last movie of historical data and the target movie to connect them as a Metapath and explain why. Any adjacent movies should have a strong relation with each other and make sure the movies not included in the historical data. The movies should before 2001.
'''

gender_dict = {'F': 'Female', 'M': 'Male'}
age_dict = {1: 'Under 18', 18: '18-24', 25: '25-34', 35: '35-44', 45: '45-49', 50: '50-55', 56:'56+'}
occupation_dict = {0: "other or not specified",
            1: "academic/educator",
            2: "artist",
            3: "clerical/admin",
            4: "college/grad student",
            5: "customer service",
            6: "doctor/health care",
            7: "executive/managerial",
            8: "farmer",
            9: "homemaker",
            10: "K-12 student",
            11: "lawyer",
            12: "programmer",
            13: "retired",                                                  
            14: "sales/marketing",
            15: "scientist",
            16: "self-employed",
            17: "technician/engineer",
            18: "tradesman/craftsman",
            19: "unemployed",
            20: "writer"}

with open('training_data/train_1m', 'w', encoding='utf-8') as f:
    with open('training_data/train_1m.json', 'w', encoding='utf-8') as fj:
        llm = []
        irs = []
        
        for user_id in range(1, 6041):
            df_user = u_data[(u_data[2] >= 4) & (u_data[0] == user_id)].sort_values(3)[1].values.tolist()
            if len(df_user) <= 20:
                # print(user_id)
                continue
            # print(len(df_user))
            user_text = u_user[u_user[0] == user_id].values.tolist()
            
            prompt = f"Gender:{gender_dict[user_text[0][1]]}\nAge:{age_dict[user_text[0][2]]}\nOccupation:{occupation_dict[user_text[0][3]]}\n\nHistorical data:\n"
            
            # f.write(f"Gender:{gender_dict[user_text[0][1]]}\nAge:{age_dict[user_text[0][2]]}\nOccupation:{occupation_dict[user_text[0][3]]}")
            # f.write("\n\nHistorical data:\n")
            
            for movie_id in df_user[-20:]:
                movie_text = u_movie[u_movie[0] == movie_id].values.tolist()
                movie_title = movie_text[0][1]
                movie_genre = movie_text[0][2]
                prompt += f"{movie_title} Genre:{movie_genre}\n"
                # f.write(f"{movie_title} Genre:{movie_genre}\n")
            
            while True:
                movie_tar = random.randint(1,3952)
                if movie_tar not in df_user and len(u_movie[u_movie[0] == movie_tar].values.tolist()) != 0:
                    break
            # print(movie_tar)
            movie_text = u_movie[u_movie[0] == movie_tar].values.tolist()
            # print(movie_text)
            movie_title = movie_text[0][1]
            movie_genre = movie_text[0][2]
            prompt += f"\nTarget movie: {movie_title} Genre:{movie_genre}\n"
            # f.write(f"\nTarget movie: {movie_title} Genre:{movie_genre}\n")
            
            f.write(prompt)
            f.write("<end>\n")
            
            llm.append([f"{movie_title} Genre:{movie_genre}", prompt])
            irs.append([movie_tar, df_user[-20:]])
            
            if user_id == 150:
                print('finish!')
                break
        json.dump({'llm':llm,'irs':irs}, fj)

4
12
14
16
20
21
41
43
47
50
55
61
66
71
77
79
85
89
94
98
100
108
124
128
141
144
145

In [5]:
# Work2 dataset generation

import random
import json
from tqdm import tqdm
# generate prompt

SUF = ['','_CoT','_ToT']
_suf = SUF[1]

'''
You are a recommended system. Given the user profile and the historical data, analyse the user's interests. Your task is to add no less than five movies between the last movie of historical data and the target movie to connect them as a Metapath and explain why. Any adjacent movies should have a strong relation with each other and make sure the movies not included in the historical data. The movies should before 2001.
'''

'''
The user's viewing history is ['Harvester', 'Kero Blaster', 'Power-Up', 'Tree of Savior (English Ver.)', 'SMITE®', 'Verdun', 'Train Simulator', 'Age of Empires® III: Complete Collection', 'Vampire: The Masquerade - Bloodlines', 'RUNNING WITH RIFLES', 'Battleborn', 'Rust', 'SNOW', 'Brigador: Up-Armored Edition', 'Arcana Heart 3 LOVE MAX!!!!!']. The target item is ['Broken Age']. Please recommend item for this user and try to influence the user to become interested in the target item, and finally recommend the target item. The recommended games must be published before 2018."
'''

gender_dict = {'F': 'Female', 'M': 'Male'}
age_dict = {1: 'Under 18', 18: '18-24', 25: '25-34', 35: '35-44', 45: '45-49', 50: '50-55', 56:'56+'}
occupation_dict = {0: "other or not specified",
            1: "academic/educator",
            2: "artist",
            3: "clerical/admin",
            4: "college/grad student",
            5: "customer service",
            6: "doctor/health care",
            7: "executive/managerial",
            8: "farmer",
            9: "homemaker",
            10: "K-12 student",
            11: "lawyer",
            12: "programmer",
            13: "retired",                                                  
            14: "sales/marketing",
            15: "scientist",
            16: "self-employed",
            17: "technician/engineer",
            18: "tradesman/craftsman",
            19: "unemployed",
            20: "writer"}

dataset_ran = []
dataset_30 = []

for user_id in tqdm(range(1, 6041)):
    # print(user_id)
    pos_seq = []
    
    df_user = u_data[(u_data[2] >= 4) & (u_data[0] == user_id)].sort_values(3)[1].values.tolist()
    if len(df_user) <= 30:
        # print(user_id)
        continue
    # print(len(df_user))
    user_text = u_user[u_user[0] == user_id].values.tolist()
    
    question = f"User: {user_id}\nGender:{gender_dict[user_text[0][1]]}\nAge:{age_dict[user_text[0][2]]}\nOccupation:{occupation_dict[user_text[0][3]]}\n\nHistorical liked movies:\n"
    
    # f.write(f"Gender:{gender_dict[user_text[0][1]]}\nAge:{age_dict[user_text[0][2]]}\nOccupation:{occupation_dict[user_text[0][3]]}")
    # f.write("\n\nHistorical data:\n")
    
    for movie_id in df_user:
        movie_text = u_movie[u_movie[0] == movie_id].values.tolist()
        movie_title = movie_text[0][1]
        movie_genre = movie_text[0][2]
        pos_seq.append(f"{movie_title} Genre:{movie_genre}")
        # f.write(f"{movie_title} Genre:{movie_genre}\n")
    
    his_seq = pos_seq[:15]
    
    for item in his_seq:
        question += f"{item}\n"
    
    while True:
        movie_tar = random.randint(1,3952)
        if movie_tar not in df_user and len(u_movie[u_movie[0] == movie_tar].values.tolist()) != 0:
            break
    
    # print(movie_tar)
    movie_text = u_movie[u_movie[0] == movie_tar].values.tolist()
    # print(movie_text)
    movie_title = movie_text[0][1]
    movie_genre = movie_text[0][2]
    movie_ran = f"{movie_title}"
    # f.write(f"\nTarget movie: {movie_title} Genre:{movie_genre}\n")
    
    movie_30 = pos_seq[29][:pos_seq[29].index(" Genre")]
    question_30 = question + f"\nTarget movie: {movie_30}\n\nPlease recommend movies for this user and try to influence the user to become interested in the target movie, and finally recommend the target movie. The recommended movies must be published before 2001."
    
    question_ran = question + f"\nTarget movie: {movie_ran}\n\nPlease recommend movies for this user and try to influence the user to become interested in the target movie, and finally recommend the target movie. The recommended movies must be published before 2001."
    
    dataset_30.append({"userid_encoded": user_id, "pos_seq_name": pos_seq, "his_seq": his_seq, "target_item": movie_30, "question": question_30})
    dataset_ran.append({"userid_encoded": user_id, "pos_seq_name": pos_seq, "his_seq": his_seq, "target_item": movie_ran, "question": question_ran})
    # print(question_30)
    # break
    
with open('training_data/movielens1m_30_target.json', 'w', encoding='utf-8') as f:
    json.dump(dataset_30, f)
with open('training_data/movielens1m_random_target.json', 'w', encoding='utf-8') as f:
    json.dump(dataset_ran, f)

100%|██████████| 6040/6040 [01:57<00:00, 51.45it/s]

In [12]:
movie_list = u_movie[1].tolist()
none_list = {}
for movies in movie_list:
    if ',' in movies:
        _x = movies[movies.index(','):movies.index('(')]
        if _x not in none_list.keys():
            none_list[_x] = 1
        else:
            none_list[_x] += 1
            
print(sorted(none_list.items(), key=lambda x: x[1], reverse=True))

[(', The ', 791), (', A ', 86), ('', 13), (', An ', 13), (', La ', 6), (', Les ', 3), (', Le ', 3), (', El ', 3), (", L' ", 2), (', Texas ', 2), (', Part II, The ', 2), (', the Beloved Country ', 1), (', Il ', 1), (', Steal Little ', 1), (', Thanks for Everything! Julie Newmar ', 1), (', Green Firecracker ', 1), (', Queen of the Desert, The ', 1), (', Corrina ', 1), (', Horrible Life of Leni Riefenstahl, The ', 1), (', But Came Down a Mountain, The ', 1), (', France ', 1), (', Maine, The ', 1), (', Professore! ', 1), (', Love ', 1), (', Big City ', 1), (', Das ', 1), (', 302 ', 1), (', or This Dream People Call Human Life ', 1), (', Worst of All ', 1), (', His Life and Music, The ', 1), (', Der ', 1), (', Maybe Not ', 1), (', King of the Wild Frontier ', 1), (',000 Leagues Under the Sea ', 1), (', My Sweet ', 1), (', Lies, and Videotape ', 1), (', The Bad and The Ugly, The ', 1), (', N.M. ', 1), (', or Not ', 1), (', Guido ', 1), (', Cheap & Out of Control ', 1), (', I Love You Not ', 1), (', Other Rooms ', 1), (', Niagara ', 1), (", Don't Touch Me! ", 1), (', Texas Pop. 81 ', 1), (', Then the Fireworks ', 1), (',000,000 Duck ', 1), (', I Blew Up the Kid ', 1), (', I Shrunk the Kids ', 1), (', Last Rites ', 1), (', Part 2 ', 1), (', Wonderland ', 1), (', U.S.A. ', 1), (', Guts, Bullets and Octane ', 1), (', Stock & Two Smoking Barrels ', 1), (', etc. ', 1), (', Lover ', 1), (', Run Deep ', 1), (', Longer and Uncut ', 1), (', Early September ', 1), (', I Remember ', 1), (', White Cat ', 1), (', Alaska ', 1), (', Three Secretaries and Me ', 1), (', Can You Spare a Dime? ', 1), (", Don't They? ", 1), (', 20th Century ', 1), (', Interrupted ', 1), (', Just Frenzy ', 1), (', the Lonesome Cougar ', 1), (', Vietnam ', 1), (', Book and Candle ', 1), (', Hospitals & Hip-Hop ', 1), (', Baby... Kill! ', 1), (', Myself and Irene ', 1), (', Blood Out ', 1), (', She Wolf of the SS ', 1), (', Last Summer ', 1), (', So Close ', 1)]

In [16]:
for movies in movie_list:
    if ', etc. ' in movies:
        print(movies)

Love, etc. (1996)

In [12]:
# IRS
# f_path = [1566, 1544, 1917, 2094, 1779, 1831, 1320, 849, 1371, 1009, 3489, 2162, 3439, 673, 1920, 126, 1702, 3440, 2450, 1126, 2642]
# PoP
# f_path = [1566, 1235, 1230, 916, 25, 2291, 1955, 2791, 2706, 2011, 1101, 2424, 585, 2791, 1197, 1036, 1240, 1214, 1221, 1193, 1961]
# f_path = [1566, 783, 1688, 48, 2092, 1381, 2383, 2382, 2381, 2380, 2379, 3689, 3690, 3391, 2733, 2471, 2950, 2421, 2411, 2410, 2409]
# GPT3
# f_path = [1566, 1197, 2791, 277, 1029, 2642]
# CoT
# f_path = [1566, 364, 2081, 595, 1035, 919, 2642]
# f_path = [1566, 1097, 2005, 1270, 2716, 2420, 2642]
# ToT
f_path = [1566, 2033, 2161, 2140, 2046, 2642]

movie_list = []

for m in f_path:
    info = u_movie[u_movie[0] == m].loc[:, [1,2]].values.tolist()
    movie_list.append(info[0][0])
    # print(f'{info[0][0]}')
    print(f'{info[0][0]} Genres:{info[0][1]}')

print(movie_list)

Hercules (1997) Genres:Adventure|Animation|Children's|Comedy|Musical
Black Cauldron, The (1985) Genres:Animation|Children's
NeverEnding Story, The (1984) Genres:Adventure|Children's|Fantasy
Dark Crystal, The (1982) Genres:Children's|Fantasy|Sci-Fi
Flight of the Navigator (1986) Genres:Adventure|Children's|Sci-Fi
Superman III (1983) Genres:Action|Adventure|Sci-Fi
['Hercules (1997)', 'Black Cauldron, The (1985)', 'NeverEnding Story, The (1984)', 'Dark Crystal, The (1982)', 'Flight of the Navigator (1986)', 'Superman III (1983)']

In [35]:
u_user[0:1]

   0  1  2   3      4
0  1  F  1  10  48067

In [32]:
u_movie[u_movie[0] == 1779].loc[:, [1,2]].values.tolist()

[['Sphere (1998)', 'Adventure|Sci-Fi|Thriller']]

In [38]:
u_movie

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [6]:
df_user = u_data[u_data[0] == 1].sort_values(3)[1].values.tolist()
for item in df_user:
    print(item)

3186
1721
1022
1270
2340
1836
3408
1207
2804
720
1193
260
919
608
2692
1961
2028
3105
938
1962
1035
150
2018
1028
1097
914
2797
1287
2762
1246
661
2918
531
3114
2791
1029
2321
1197
594
2398
1545
527
1
588
2687
745
595
2294
783
2355
1907
1566
48

In [11]:
# reform
import json
with open('training_data/output_gpt_1m_IRS_pro.json', 'r') as f:
    content = json.load(f)

output = []
output_fix = []
for target, his_tra, influ_path in content:
    _path = []
    target_flag = False
    if target in influ_path:
        influ_path = influ_path[:influ_path.index(target)+1]
        target_flag = True
    
    for item in influ_path:
        _ = u_movie[u_movie[0] == item].values[0][1]
        _path.append(_)
        
    output.append([_path.copy(),[]])
    if not target_flag:
        _path.append(u_movie[u_movie[0] == target].values[0][1])
    output_fix.append([_path.copy(),[]])
    
    
    
with open(f"training_data/output_gpt_1m_IRSori_pro.json", "w", encoding='utf-8') as f:
    json.dump(output, f)
with open(f"training_data/output_gpt_1m_IRSfix_pro.json", "w", encoding='utf-8') as f:
    json.dump(output_fix, f)

In [12]:
#POP
import json
from collections import Counter
from random import choice

with open("training_data/train_1m.json") as f:
    data = json.load(f)
with open("movie_name.json") as f:
    movies = json.load(f)

total_movie_rec = []
movie_chain = {}
for user_id in range(6040):
    df_user = u_data[u_data[0] == user_id].sort_values(3)[1].values.tolist()
    if len(df_user) == 0:
        continue
    cur = None
    for nxt in df_user:
        if cur is None:
            cur = nxt
            continue
        total_movie_rec.append(nxt)
        if cur in movie_chain.keys():
            movie_chain[cur].append(nxt)
        else:
            movie_chain[cur] = [nxt]
        cur = nxt

def lst2counter(lst):
    tmp = Counter(lst)
    result = sorted(tmp.items(), key=lambda x: x[1], reverse=True)
    return [_[0] for _ in result]

for key in movie_chain.keys():
    tra = movie_chain[key]
    movie_chain[key] = lst2counter(tra)

total_movie_rec = lst2counter(total_movie_rec)

def top_k(a, p):
    top_k_list = a
    for i in top_k_list:
        if i in p:
            continue
        return i

def random_choice(p):
    while True:
        tmp = choice(movies)
        if tmp[0] not in p:
            return tmp[0]

SR = 0
path_lst = []
for tar, his_tra in data['irs']:
    influ_path = []
    cur = his_tra[-1]
    for _ in range(20):
        if cur not in movie_chain.keys():
            nxt = top_k(total_movie_rec, his_tra+influ_path)
        else:
            nxt = top_k(movie_chain[cur], his_tra+influ_path)
        influ_path.append(nxt)
        cur = nxt
    if tar in influ_path:
        SR += 1
    path_lst.append([tar,his_tra,influ_path.copy()])

with open(f"training_data/pro/output_gpt_1m_POP_pro.json", "w", encoding='utf-8') as f:
    json.dump(path_lst, f)
print(SR/len(data['irs']))

0.008130081300813009

In [33]:
# random
import json
from collections import Counter
from random import choice

with open("training_data/train_1m.json") as f:
    data = json.load(f)
with open("movie_name.json") as f:
    movies = json.load(f)

def random_choice(p):
    while True:
        tmp = choice(movies)
        if tmp[0] not in p:
            return tmp[0]

SR = 0
path_lst = []
for tar, his_tra in data['irs']:
    influ_path = []
    for _ in range(20):
        nxt = random_choice(his_tra+influ_path)
        influ_path.append(nxt)
    if tar in influ_path:
        SR += 1
    path_lst.append([tar,his_tra,influ_path.copy()])

with open(f"training_data/output_gpt_1m_random_pro.json", "w", encoding='utf-8') as f:
    json.dump(path_lst, f)
print(SR, SR/len(data['irs']))

2 0.016260162601626018

In [36]:
# reform
import json
suffix = ['_POP', '_random']
for suf in suffix:
    with open(f'training_data/output_gpt_1m{suf}_pro.json', 'r') as f:
        content = json.load(f)
    
    output = []
    output_fix = []
    for target, his_tra, influ_path in content:
        _path = []
        target_flag = False
        if target in influ_path:
            influ_path = influ_path[:influ_path.index(target)+1]
            target_flag = True
        
        for item in influ_path:
            _ = u_movie[u_movie[0] == item].values[0][1]
            _path.append(_)
            
        output.append([_path.copy(),[]])
        if not target_flag:
            _path.append(u_movie[u_movie[0] == target].values[0][1])
        output_fix.append([_path.copy(),[]])
        
    with open(f'training_data/pro/output_gpt_1m{suf}_pro.json', "w", encoding='utf-8') as f:
        json.dump(output, f)